.container {
  padding: 0 2rem;
}

nav .menu{
  padding-top: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.link{
  padding: 10px 10px 10px 2px;
  margin: 22px;
  font-size: larger;
  display: inline-block;

  border-radius: 4px;
}
.flex{
  display: flex;
}
.link:hover{
  background-color: #eaeaea;
  transition: transform .3s ease-out;
  transform: translate(0, -5px);
}

.navbar{
  display: flex;
  /* margin: 0 auto; */
  margin: 28px 0;
  justify-content: center;
  color: #0070f3;
  font-size: larger;
}

.img{
  background-image: url("https://i.ytimg.com/vi/bYRwlWgdDzI/maxresdefault.jpg");

  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: inherit;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.junta{
  width: 18%;
  height: 0%;
  display: inline-block;
  font-size: 20px;
  margin-left: 5%;
  border: 2px solid #002119;
  margin-top: 10%;
}
.button{
  opacity: 0;
}
.main {
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;

}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom:0%;
  margin-right: 40%;
  line-height: 1.0;
  font-size: 4rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
